# Dependency file to use only for development and
# playing with the notebooks. If you want a Dependency
# to be added to Tars, then add it to the requirements.txt
# file.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tars = "*"

[dev-packages]
jupyterlab = "*"
twine = "*"
build = "*"
bump2version = "*"

[requires]
python_version = "3.8"
